* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.common-button {
  background-color: #3563ad;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.common-button:hover {
  background-color: rgb(130, 130, 146);
}
/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 32px;
  padding: 20px 90px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 42px;
  width: auto;
  display: block;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}
/* hero section css */
.hero {
  position: relative;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-overlay {
  position: relative;
  z-index: 3;
  color: white;
  padding: 20px;
  max-width: 700px;
}
.hero-overlay h1 {
  font-size: 60px;
}
.hero-overlay p {
  line-height: 1.7;
  margin-bottom: 280px;
  text-align: center;
  color: rgb(179, 174, 174);
}
.hero-common-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #3563ad;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.hero-common-button:hover {
  background-color: rgb(130, 130, 146);
}

/* meet speaker css */
.speaker-parent {
  padding: 80px 90px;
  background-color: white;
}
.speaker-parent h1 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
.speaker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.speaker-card {
  border: 1px solid rgb(224, 221, 221);
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.speaker img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position:center;
  display: block;
}
.speaker-info {
  padding: 20px;
}
.speaker-info h4 {
  color: rgb(59, 59, 247);
  margin-bottom: 10px;
}
.speaker-info h2 {
  margin-bottom: 10px;
}
.speaker-info p {
  font-size: 18px;
  color: rgb(119, 116, 116);
  margin-bottom: 10px;
}
/* secure spot css */
.pricing-parent{
  padding: 80px 90px;
  text-align: center;
  background-color: white;
}
.pricing{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
}
